@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Checkout";
}

<h1>Your order</h1>
<ul class="orderList">
    <li>Item1</li>
    <li>Item2</li>
</ul>
<h3>Pickup and Pay at:</h3>
<p>1234 Road<br>Seattle WA 12345</p>
<h5>Or</h5>
<p>1234 St<br>Renton WA 12345</p>
