@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Bakery!</h1>
    <p>Check out our menu <a href="/Home/OverviewMenu">here!</a></p>
    <p>Check out our locations <a href="/Home/locations">here!</a></p>
    <p><a href="/Home/OurMission">Learn more about us and our mission!</a></p>

</div>
