@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Locations";
}
<h1>Locations</h1>
<h3>Address1 location:</h3>
<p>1234 Road<br>Seattle WA 12345</p>
<h3>Address2 location:</h3>
<p>1234 St<br>Renton WA 12345</p>
