@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class= "text-center" >
 <h1 class= "display-4" > Please place your order here for your tasty treats, NOMNOM</h1>

    <h1>This is our Ordering section</h1>
    <h2>Order your treats</h2>
    <h3>Leave with a happy tummy</h3>
    <p>Ready? Check out <a href="/Home/checkout">here!</a></p>


</div>